<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="ChapeauDatabase" connectionString="Data Source=2122chapeau.database.windows.net;
         Initial Catalog=db_INF1c4; 
         
         User=groep_INF1c4;
         
         Password=M%xy65?8J8Co"/>

	</connectionStrings>
</configuration>
